@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap"

@import url("components/button.css");
@import url("components/avatare.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

body { 
	font-family: 'Zilla+Slab' ;
	font-size: 17px ;
	margin: 0
 }

h1, h2, h3 {
	font-family : 'Nunito';
	font-weight: bold;
}

.btn-1 {
	background-color: #8B0000 ;
	color: white ;
	padding: 15px 20px ;
	border-radius: 6px ;
	font-weight : bold ;
}

.btn-1:hover {
	background-color: #FFEE9C;
	color: black ;
	padding: 15px 20px ;
	border-radius: 6px ;
	font-weight : bold ;
}

a {
	text-decoration: none;
}

